<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static%}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light" id='nav'>
  <div class="container">
  <a class="navbar-brand" href="#">Drowsy Driver</a>
  <button class="navbar-toggler bg-blue-500" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      {% if user.is_authenticated %}
      <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
      <a class="nav-item nav-link" href="{% url 'stats' %}">Statistics</a>
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
      <a class="nav-item nav-link" href="#">Signed In As {{ user.username }}</a>
      {% else %}
      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
      {% endif %}
    </div>
  </div>
  </div>
</nav>
{% comment %} Section 1 here {% endcomment %}
<section class='our-section' id='our-section'>
  <div class="container">
    <div>
      <h2 class="animated shake delay-5s">Drowsy Driver Detection System</h2>
      <div id="typed-strings">
        <p>Drowsy Driving <span class='type'></span></p>
      </div>
      <span id="typed"></span>
      <div class='pt-8'>
        <a href="{% url 'RunOpenCV' %}">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4  rounded-full">
          Get Started!
        </button>
        </a>
      </div>
    </div>
    <img src='{%static "img/driving.png"%}' alt='' >
  
  </div>
</section>

{% comment %} Section 2.. How to go about things... {% endcomment %}
<section class='section-2' id='section-2'>
  <div class="overlay-section-2">
    <div class="inner-section-2">
      <div>
        <h3>We are with you every step of the way</h3>
        <h2>Usalama lazima!</h2>
        <p>
          Globally, road accidents have been a significant issue for quite a while with an ever-raising trend. 
          It leads to thousands losing their lives while at the same time placing a heavy burden on health services and economic development.
        </p>
        <p>
          Road accidents and road traffic injuries are predicted to increase if road safety is not addressed adequately within the globe and as it stands, 
          road safety is an issue that gets no close to the attention it deserves.
        </p>
        <p>
          Drowsy driving is a serious problem regarding road safety. 
          Most of the road accidents can be avoided or their effect can be minimized by taking proper precautions.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div id="start-section-1" class="starttitle">
    <span>What leads to drowsy driving?</span>
  </div>
  
  <div class="start">
    <div class="start-block">
      <div class="start-content">
        <div class="left-column" id='left-column'>
          <h2 id="inform">
            Lack of enough sleep
          </h2>
          <p>
            Get enough sleep! Adults need 7 or 8 hours of sleep a day, while adolescents need 9 or 10 hours.
            If you have a sleep disorder, make sure to seek treatment. The less sleep you get, the more likely 
            you are to fall asleep while driving.
          </p>
        </div>
      </div>
    </div>

    <div class="start-block">
      <div class="start-content">
        <div class="right-column" id='right-column'>
          <h2 id="choose">
            Do you work long or during irregular hours? 
          </h2>
          <p>
            Working on a night shift is likely to increase your risk of drowsy driving. Employees working on
            extended shifts or more than one job are prone to experience sleepiness. 
          </p>
        </div>
      </div>
    </div>

    <div class="start-block">
      <div class="start-content">
        <div class="left-column" id='left-column'>
          <h2 id="get">
            Medication Side-Effects
          </h2>
          <p>
            Sleepiness is one of the most commonly reported side effects of medications and drugs, 
            and it’s an important one to note and discuss with your doctor. 
            Excessive sleepiness can be caused by the sedating effects of nonprescription and prescription medications
          </p>
       </div>
      </div>
    </div>

    <div class="start-block">
      <div class="start-content">
        <div class="right-column" id='right-column'>
          <h2 id="spend">
            Naturally occurring circadian factors
          </h2>
          <p>
            This is where our body clock naturally regulates our body to sleep at specific times. There is an increase
            in the brain's drive to sleep during the mid-afternoons. 
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="start-section-1" class="starttitle">
    <span>Benefits of such a system</span>
  </div>
  
  <div class="start">
    <div class="start-block">
      <div class="start-content">
        <div class="left-column" id='left-column'>
          <h2 id="inform">
            Inform yourself</h2>
          <p>Bitcoin is different than what you know and use every day. Before you start using Bitcoin, there are a few things that you need to know in order to use it securely and avoid common pitfalls.</p>
          <div>
            <a class="btn-bright" href="/en/you-need-to-know">Read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="start-block">
      <div class="start-content">
        <div class="right-column" id='right-column'>
          <h2 id="choose">
            Choose your wallet</h2>
          <p>Free bitcoin wallets are available for all major operating systems and devices to serve a variety of your needs. For example, you can install an app on your mobile device for everyday use or you can have a wallet only for online payments on your computer. In any case, choosing a wallet is easy and can be done in minutes.</p>
          <div>
            <a class="btn-bright" href="/en/choose-your-wallet">Choose your wallet</a>
          </div>
        </div>
      </div>
    </div>

    <div class="start-block">
      <div class="start-content">
        <div class="left-column" id='left-column'>
          <h2 id="get">
            Get Bitcoin</h2>
          <p>You can get Bitcoin by accepting it as a payment for goods and services. There are also several ways you can buy Bitcoin.</p>
          <div>
            <a class="btn-bright" href="/en/buy">Buy Bitcoin</a>
          </div>
       </div>
      </div>
    </div>

    <div class="start-block">
      <div class="start-content">
        <div class="right-column" id='right-column'>
          <h2 id="spend">
            Spend Bitcoin</h2>
          <p>There are a growing number of services and merchants accepting Bitcoin all over the world. Use Bitcoin to pay them and rate your experience to help them gain more visibility.</p>
          <div>
            <a class="btn-bright" href="/en/spend-bitcoin">Find merchants and products</a>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div> 
<section class='cards'>
  <div class='cards-header'>
			<h1>
				Reliable, efficient delivery
				<span>Powered by Technology</span>
			</h1>
			<p>
				Our Artificial Intelligence powered tools use millions of project data
				points to ensure that your project is successful
			</p>
		</div>
  <div class="container" id='cards-section' >
    
      <div class='box shadow-lg' id='card-1'>
        <h3>1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
        <img src='{%static "img/drive.png"%}' alt='' height="70" width="70">
      </div>
      <div class='box shadow-lg box-push-up' id='card-2'>
        <h3>2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
        <img src='{%static "img/woman.png"%}' alt='' height="70" width="70">
      </div>
      <div class='box shadow-lg' id='card-3'>
        <h3>3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
        <img src='{%static "img/drive_school.png"%}' alt='' height="70" width="70">
      </div>
      <div class='box shadow-lg box-push-up' id='card-4'>
        <h3>4</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
        <img src='{%static "img/drive.png"%}' alt='' height="70" width="70">
      </div>
  </div>
</section>


 <!-- Footer -->
<footer class="section-footer ">
  <div class="container">
    <div>
      <h2 class="text-2 mb-1">Drowsy Driver Detector</h2>
      {% comment %} <a href="http://twitter.com">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="http://facebook.com">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="http://youtube.com">
        <i class="fab fa-youtube fa-2x"></i>
      </a> {% endcomment %}
    </div>
    <div>
      <a href="#">Home <span class="sr-only">(current)</span></a>
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">Logout</a>
      <a href="#">Signed In As {{ user.username }}</a>
      {% else %}
      <a  href="{% url 'login' %}">Login</a>
      <a  href="{% url 'signup' %}">Sign Up</a>
      {% endif %}
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    sr.reveal('#section-2 .inner-section-2,.cards #cards-section #card-4',{
      origin: 'bottom',
  });

    
    sr.reveal('.cards #cards-section #card-2',{
    origin: 'top',
  });

   
    sr.reveal('#left-column,.cards #cards-section #card-1',{
    origin: 'left',
  });
    
    sr.reveal('#right-column,.cards #cards-section #card-3',{
    origin: 'right',
  });
  </script>


</footer>
<script src='{%static "js/typed.js"%}'></script>
<script>
  var typed = new Typed('.type', {
    strings: [
      'is as Dangerous as Drunk Driving',
      'can affect anyone',
      'kills',
      'is Preventable'
    ],
    backSpeed: 60,
    typeSpeed: 60,
    loop:true
  });
</script>
<script src='{%static "js/three.r95.min.js"%}'></script>
<script src='{%static "js/vanta.net.min.js"%}'></script>
<script>
VANTA.NET({
  el: "#our-section",
  mouseControls: true,
  touchControls: true,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0x0,
  backgroundColor: 0xffffff
})
</script>


{% endblock %}


