<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static%}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light" id='nav'>
  <div class="container">
  <a class="navbar-brand" href="#">Drowsy Driver</a>
  <button class="navbar-toggler bg-blue-500" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      {% if user.is_authenticated %}
      <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
      <a class="nav-item nav-link" href="{% url 'stats' %}">Statistics</a>
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
      <a class="nav-item nav-link" href="#">Signed In As {{ user.username }}</a>
      {% else %}
      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
      {% endif %}
    </div>
  </div>
  </div>
</nav>
{% comment %} Section 1 here {% endcomment %}
<section class='our-section' id='our-section'>
  <div class="container">
    <div>
      <h2 class="animated shake delay-5s">Drowsy Driver Detection System</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <a href="{% url 'RunOpenCV' %}">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
        Get Started!
      </button>
      </a>
    </div>
    <img src='{%static "img/driving.png"%}' alt='' >
  
  </div>
</section>

{% comment %} Section 2.. How to go about things... {% endcomment %}
<section class='section-2'>
  <div class="overlay-section-2">
    <div class="inner-section-2">
      <div>
        <h3>How things work around here</h3>
        <h2>Usalama lazima!</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</section>

{% comment %} Cards section {% endcomment %}
<section class='card-section'>
  <div class="container">
    <div class="animated bounce inner">
      <div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          {% comment %} <img class="w-full" src="/img/driver1.jpg" alt="Sunset in the mountains"> {% endcomment %}
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
            </p>
          </div>
          <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
          </div>
        </div>
      </div>
      <div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          {% comment %} <img class="w-full" src="/img/driver1.jpg" alt="Sunset in the mountains"> {% endcomment %}
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
            </p>
          </div>
          <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
          </div>
        </div>
      </div>
      <div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          {% comment %} <img class="w-full" src="/img/driver1.jpg" alt="Sunset in the mountains"> {% endcomment %}
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
            </p>
          </div>
          <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

Hi {{ user.username }}! {{user.email}} Car registration no: {{user.car_registration_number}} {{user.photo}}
Photo: <img src='{{user.photo.url}}' height="42" width="42">   

 <!-- Footer -->
<footer class="section-footer ">
  <div class="container">
    <div>
      <h2 class="text-2 mb-1">Drowsy Driver Detector</h2>
      {% comment %} <a href="http://twitter.com">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="http://facebook.com">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="http://youtube.com">
        <i class="fab fa-youtube fa-2x"></i>
      </a> {% endcomment %}
    </div>
    <div>
      <a href="#">Home <span class="sr-only">(current)</span></a>
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">Logout</a>
      <a href="#">Signed In As {{ user.username }}</a>
      {% else %}
      <a  href="{% url 'login' %}">Login</a>
      <a  href="{% url 'signup' %}">Sign Up</a>
      {% endif %}
    </div>
  </div>
</footer>

<script src='{%static "js/three.r95.min.js"%}'></script>
<script src='{%static "js/vanta.net.min.js"%}'></script>
<script>
VANTA.NET({
  el: "#our-section",
  mouseControls: true,
  touchControls: true,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0x0,
  backgroundColor: 0xffffff
})
</script>

{% endblock %}


